<h3>Top Heroes</h3>
<a *ngFor="let hero of topHeroList" class="col-1-4"
   routerLink="/detail/{{hero.id}}">
  <div class="module hero">
    <h4>{{hero.name}}</h4>
  </div>
</a>


<app-hero-search></app-hero-search>
